@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@supports selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-gutter: stable;
  }    
  .custom-scrollbar::-webkit-scrollbar {
    background: transparent;
    width: 25px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
    border-radius: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(198, 198, 198);
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: rgb(164, 163, 163);
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}

/**
* project section
**/
#project-cards-wrapper > div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: auto;
}

#project-cards-wrapper > div.revealed {
  opacity: 1;
  transform: translateY(0);
}


/*** test ***/
/* * {
    outline: 1px solid red;
} */


