@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-moz-selection { 
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}

@supports selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-gutter: stable;
  }    
  .custom-scrollbar::-webkit-scrollbar {
    background: transparent;
    width: 25px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
    border-radius: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(198, 198, 198);
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: rgb(164, 163, 163);
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}

/**
* project section
**/
#project-cards-wrapper > div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: auto;
}

#project-cards-wrapper > div.revealed {
  opacity: 1;
  transform: translateY(0);
}


/*** test ***/
/* * {
    outline: 1px solid red;
} */

  /* transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)); */
  /* perspective: 100px; */


  .poster {
    /* min-width: 15rem;
    max-width: 15rem; */
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: white;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
  
    perspective: 1000px;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
  
      width: 100%;
      height: 100%;
  
      content: "";
  
      background-image: linear-gradient(
          265deg,
          rgba(0, 0, 0, 0.2),
          transparent 15%
        ),
        linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%),
        linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 15%),
        linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 15%),
        linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 15%),
        linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%),
        linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 15%);
  
      background-size: 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%,
        50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
      background-position: left top, left top, right top, left center,
        right center, right center, left bottom;
    }
  
    /* &__img {
      margin: 1rem;
      width: 90%;
      height: 95%;
      z-index: 1;
      filter: sepia(30%) saturate(50%);
    } */
  }

  .poster__img {
    margin: 1rem;
    width: 90%;
    height: 95%;
    z-index: 1;
    filter: sepia(30%) saturate(50%);
  }




:root {
  --main-line-color: hsl(234, 62%, 86%);
  --side-line-color: hsl(350, 100%, 91%);
  --paper-color: hsl(0, 15%, 95%);
  --ink-color: hsl(0, 0%, 12%);
  --line-thickness: 2px;
  --top-space: 75px;
}

.paper {
  background: var(--paper-color);
  /* margin: 2rem; */
  padding: calc(var(--top-space) - 30px) 1rem 1rem 5.5rem;
  /* font-size: 1.5rem; */
  line-height: 1.6;
  color: var(--ink-color);
  background-image: 
    /* the red line */ linear-gradient(
      90deg,
      transparent,
      transparent 4rem,
      var(--side-line-color) 4rem,
      var(--side-line-color) 4.25rem,
      transparent 4.25rem
    ),
    /*  The top space  */
      linear-gradient(
        var(--paper-color),
        var(--paper-color) var(--top-space),
        transparent var(--top-space)
      ),
    /* the blue lines */
      repeating-linear-gradient(
        transparent,
        transparent calc(1lh - var(--line-thickness)),
        var(--main-line-color) calc(1lh - var(--line-thickness)),
        var(--main-line-color) 1lh,
        transparent 1lh
      );
}



